body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#0d1117;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#111827;
  padding:15px;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

.menu-btn{
  font-size:28px;
  background:none;
  border:none;
  color:white;
  cursor:pointer;
}

nav{
  display:none;
  position:absolute;
  top:60px;
  right:10px;
  background:#1e3a8a;
  border-radius:10px;
  overflow:hidden;
}

nav a{
  display:block;
  color:white;
  text-decoration:none;
  padding:12px 20px;
}

nav a:hover{
  background:#2563eb;
}

.hero{
  text-align:center;
  padding:60px 20px;
  background:#1f2937;
}

section{
  margin:20px;
  padding:20px;
  background:#161b22;
  border-radius:12px;
}

.card{
  background:#222;
  padding:15px;
  border-radius:10px;
  margin-top:10px;
}
.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#2563eb;
  color:white;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
  transition:0.3s;
}

.btn:hover{
  background:#1d4ed8;
}
#about{
  line-height:1.8;
}

#about h2{
  color:#38bdf8;
}
#members .card{
  margin:15px 0;
  border-left:5px solid #2563eb;
}
